body {
  font-family:$font-body;
  font-weight:300;
  color: $grey-dark;
  font-size: 18px;
  a {
    color: $blue;
    transition: color 0.4s ease-in-out;
    &:hover {
      text-decoration: none;
      color: $black;
    }
  }
}

h1,h2,h3 {
  font-family:$font-title;
  font-weight: 400;
}

h4,h5,p {
  font-family:$font-body;
}

h1 {
  font-size:50px;
}
h2 {
  font-size:36px;
}
h3 {
  font-size:24px;
}
h4 {
  font-size:22px;
}
h5 {
  font-size:16px;
}
p {

}
