#AccountMenu {
    ul {
        li {
            a {
                display:block;
                font-size:18px;
                padding:6px 0;
                color:#666;
                transition: color 0.4s ease-in-out;
                &:hover {
                    color:#000;
                }
            }
        }
    }
}
