#ContactPage {
  .error {
    margin-top:5px;
    color: $red;
  }
  h4 {
    margin-bottom:25px;
  }
  .contact-row {
    margin-bottom:15px;
    a {
      color: $blue;
      transition: color 0.4s ease-in-out;
      &:hover {
        text-decoration: none;
        color: $black;
      }
    }
  }
}
