@import "auth";
@import "contact";



.bg-image-page {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  &.default {

  }
}

a {
  &:hover {
    text-decoration: none;
  }
}
