/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
.env
.env.backup
.env.dusk.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpunit.dusk.xml
/public/dist
/public/build
/public/mix-manifest.json
/composer.lock
/storage/logs/laravel.log
/storage/framework/cache/data/24/04/2404148acc04fba9e1fa660e4ca340a31b4c0d61
/storage/framework/cache/data/3e/e1/3ee1a7be3f53f08cb2d4231cea84cef7b1bc52f6
/storage/framework/views/5f8486a5ce2be9a43f5666e596b74e171907fd94.php
