// Body
$body-bg: #f7f9fb;

// Links
$link-decoration: none;
$link-hover-decoration: underline;

// Cards
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;

//Fonts
$font-title:'Rubik', sans-serif;
$font-body:'Rubik', sans-serif;

//Colors
$color1:#5D2A42;
$color2:#FB6376;
$color3:#FCB1A6;
$color4:#FFDCCC;
$color5:#FFF9EC;


$grey:#E9E8E3;
$grey-light:#EFEFEF;
$grey-dark:#CCCCC7;

$white:#FFFFFF;
$black:#000000;

$blue:#286AA5;
$blue-light:#357ab8;
$blue-dark:#19558a;

$red:#C9232A;
$red-light:#dd3b42;
$red-dark:#ae131a;

$green:#5AB246;
$green-light:#6cbf59;
$green-dark:#469b33;

$orange:#dfa311;
$orange-light:#eaba48;
$orange-dark:#d39707;
