.autocomplete-search {
  position: relative;
  .searchresults {
    position: absolute;
    top:100%;
    z-index: 998;
    width: 100%;
    background-color: #dedede;
    ul {
      list-style: none;
      margin:0;
      padding:0;
      li {
        padding:5px 10px;
        color: black;
        &:hover {
          cursor: pointer;
          background-color: #cfcfcf;
        }
      }
    }
  }
}
