textarea, input, .form-control {
  background-color:#FFF;
  border:1px solid #333;
  min-height:44px;
  font-size: 20px;
  &:focus, &:active, &:valid {
    background-color:#FFF;
    border:1px solid #333;
    background-image: none !important;
  }
  &.error {
    border:1px solid red;
    background-image: url('/storage/images/forms/form-error.png');
    background-size: 20px auto;
    background-position: 10px;
    background-repeat: no-repeat;

  }
}

label {
  font-weight: 400;
  margin-bottom:4px;
}

.form-error {
  color: #FF0000;
  font-size: 12px;
  font-weight: bold;
  margin:4px 0;
}

select.form-control {
  position: relative;
  padding-right:30px;
  z-index: 9;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

input.form-check-input {
  min-height: auto !important;
  font-size: unset !important;
}
.form-check {
  font-size: 0.8em;
}

.custom-radio {
  font-size: 0.8em;
  margin-top:3px;
  margin-bottom:0;
  input {
    min-height: auto !important;
    margin-right:10px;
  }
  label {
    margin-bottom: 0;
    position: relative;
    top:-2px;
  }
}

.oerror {
  border: 3px solid red !important;
}
