#LoadingSm {
  margin:15px auto;
  width:120px;
  background-color: #FFF;
  text-align: center;
  img {
    max-width: 100%;
    margin-bottom:10px;
  }
  p {
    color: #333;
    margin:0;
  }
  small {
    color: #000;
  }
}
