#DesktopNav {
    border-bottom:4px solid $orange;
    ul {
        li {
            background-color: rgba(0,0,0,0.3);
            a {
                padding:10px 15px;
                font-size: 22px;
                font-weight: bold;
                color: #FFF;
                &:hover {
                    color: #FFF;
                    background-color: $orange;
                }
            }
        }
    }
}
