#DesktopNav {
    border-bottom:4px solid $blue;
    background-color: $white;
    .logo {
        position: relative;
        height:90px;
        transition: all 0.4s ease-in-out;
    }
    ul {
        li {
            background-color: none;
            a {
                transition: all 0.4s ease-in-out;
                padding:10px 12px;
                font-size: 19px;
                color: $grey;
                &:hover {
                    color: #FFF;
                    background-color: $blue;
                }
            }
        }
    }

    &.fixed-menu {
        position: fixed;
        width:100%;
        top:0;
        z-index: 999;
        background-color: $blue-light;
        .logo {
            top:-10px;
            height:90px;
        }
    }
}
