#PageFooter {

    #footer1 {

    background: $black;
    border-top:4px solid $gold-light;
    color: $white;
    width:100%;
    font-size: 0.8em;

        .star {
            color: $gold;
            text-align: center;
            margin:15px 0;
        }

    .footer-links {
        margin:0;
        padding:0;
        list-style: none;
        li {
            display: inline;
            a {
                color: $black;
                font-size: 0.9em;
                transition: all 0.4s ease-in-out;
                padding:5px 15px;
                &:hover {
                    color: $black;
                }
            }
        }

    }

    .footer-logo {
        max-height: 140px;
        margin-bottom:30px;
    }
    h4 {
        font-family: $font-title;
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.4em;
    }
    h5 {
        font-family: $font-title;
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.4em;
    }

    .table-none {
        margin:0 auto;
        width:auto;
        border:none;
        tr td:first-child {
            font-weight: bold;
        }
        td {
            padding:3px;
        }
    }
    }

    #footer2 {
        background-color: $grey-dark;
        position: relative;

        .legal-links {
           margin:0;
            padding:0;
            display: flex;
            position: relative;
            z-index: 9;
            margin-top:-45px;
            li {
                a {
                    padding: 10px 20px;
                    font-size: 0.8em;
                    color: $grey;
                    ransition: all 0.4s ease-in-out;
                    &:hover {
                        color: #FFF;
                    }
                }
            }
        }

        .totop {
            height:100px;
            background-color: $grey-dark;
            border-radius: 50%;
            text-align: center;
            padding:10px;
            margin:0 auto;
            margin-top:-45px;
            z-index: 8;
            a {
                color: $black;
                font-size: 30px;
                transition: all 0.4s ease-in-out;
                position: relative;
                top:0;
                &:hover {
                    top:-5px;
                    color: #FFF;
                }
            }
        }
    }
}
