@import 'TopNav';
@import 'Footer';

html, body {
    overflow-x: hidden;
    background-color: #000;
    background-image: url('/storage/images/backgrounds/bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.container {
    margin:0 auto;
}
@media screen and (max-width: 660px) {
    .container {
        margin:0 15px;
    }
}
