@import 'DesktopNav';
@import "MobileNav";
@import 'Footer';
@import "TopBar";

html, body {
    overflow-x: hidden;
    background-color: #FFF;
}
.container {
    margin:0 auto;
    width:unset;
    padding:0 20px;
}
@media screen and (max-width: 660px) {
    .container {
        margin:0 15px;
    }
}
