@import "~hamburgers/dist/hamburgers.min.css";
#MobileNav {
    position: relative;
    z-index: 8;
    padding:10px;
    background-color: #FFF;
    .logo {
        max-height: 75px;
        max-width: 100%;
    }
    .hamburger.is-active:hover, .hamburger:hover {
        opacity: 1 !important;
    }

    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        background-color: $blue;
        border-radius: unset;
    }
    .hamburger-inner:before {
        width:30px;
    }
    .hamburger-inner:after {
        width: 20px;
    }
    .is-active {
        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            width: 40px !important;
        }
    }
    .mobileNav {
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 0.1s ease-in-out;

        &.nav-open {
            max-height: 1500px;
            padding-top: 15px;
            border-top:1px solid $blue-light;
            margin-top:15px;
        }
        ul.navbar {
            margin:0px;
            padding:0px;
            display: block;
            background-color: $blue;
            li {
                display: block;
                a {
                    display: block;
                    width:100%;
                    padding: 12px;
                    color: $white;
                    font-size: 1.2em;
                    border-bottom:1px solid $blue-light;
                    &:hover {
                        background-color: $blue-light;
                        color: $white;
                    }
                }
            }


        }
    }


}
