#TopNav {
    ul {
        li {
            a {
                padding:10px 15px;
                font-size: 18px;
                color: #677279;
                &:hover {
                    color: #FFF;
                    background-color: #36aee0;
                }
            }
        }
    }
}
