#TopNav {
    border-bottom:3px solid $orange;
    ul {
        li {
            a {
                padding:10px 15px;
                font-size: 18px;
                color: #FFF;
                &:hover {
                    color: #FFF;
                    background-color: $orange;
                }
            }
        }
    }
}
