#Footer {
  .footer {
    background-color: $grey-dark;
    padding: 35px 15px;

    .footer-logo {
      img {
        max-height: 140px;
      }
    }

    .footer-links {
      padding: 10px;
      color: #FFF;

      h4 {
        padding: 10px 0 15px 0;
        border-bottom: 1px solid $lime;
        display: block;
        margin-bottom: 15px;
        color: $white;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 5px;
          font-weight: 200;
        }
      }

      .footer-contact {
        margin-bottom: 5px;
        font-weight: 200;
      }

      a {
        color: $grey-light;
        transition: all 0.3s ease-in-out;
        font-weight: 200;

        &:hover {
          color: $white;
        }
      }
    }

    .footer-image {
      padding: 15px;

      img {
        max-width: 140px;
        max-height: 90px;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }

    }
  }
  .copyright {
    color: $grey;
  }

}
