#NotificationHeader {
  background-color: $grey;
  padding: 2px;
  color: $blue;
  font-size: 14px;
}

#PageHeader {
  background-color: $blue;
  padding:10px;
  color: #FFF;
  text-align: center;
  h1 {
    font-size: 18px;
    color: #FFF;
    margin:0;
  }
}

header {
  padding:15px;
  img.logo {
    height: 41px;
  }
  .contact {
    a {
      font-size: 1.2em;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    .fa {
      margin-right:15px;
    }
  }
}
