#HeaderMobile {
  background-color: $white;
  padding:15px 10px;
  .logo {
    max-height: 55px;
    position: relative;
    top:-5px;
  }
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: $lime;
    border-radius: unset;
  }
  .hamburger-inner:before {
    width:30px;
  }
  .hamburger-inner:after {
    width: 20px;
  }
  .is-active {
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
      width: 40px !important;
    }
  }
  .mobileNav {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.1s ease-in-out;

    &.nav-open {
      max-height: 500px;
      padding-top: 15px;
      border-top:1px solid $grey-dark;
      margin-top:15px;
    }
    ul.navbar {
      margin:0px;
      padding:0px;
      display: block;
      background-color: $black;
      li {
        display: block;
        a {
          display: block;
          width:100%;
          padding: 5px 10px;
          color: white;
          &:hover {
            color: white;
            background-color: $lime;
          }
        }
      }

    }
  }
}
