.AccountIcon {
    margin:25px;
    text-align: center;
    .image {
        text-align: center;
        i {
            font-size: 4em;
        }
    }
    .text {
        margin-top:15px;
    }
    &:hover {
        cursor: pointer;
        .image {
            i {
                color: #000;
            }
        }
        .text {
            color: #000;
        }
    }
}
