.card {
    .card-header {
        padding:0.5em 0.8em;
        background-color:$blue-dark;
        color:#FFF;
        border-top-left-radius:8px;
        border-top-right-radius:8px;
        font-size: 1.2em;

    }
    .card-body {
        border:1px solid $grey;
        padding:0.8em;
        background-color: #FFF;
    }
}
