#admin-layout {
  .admin-blog-image {
    object-fit: contain;
    position: relative;
    display: flex;
    height:300px;
    overflow: hidden;
    border:1px solid #ccc;
    margin:10px;
    padding:10px;
    img {
      width: 100%;
      align-self: center;
    }
    .controls {
      display: none;

    }
    &:hover {
      .controls {
        display: block;
        position: absolute;
        top:10px;
        right:10px;
        width:50px;
        height:50px;
      }
    }
  }
}
