#admin-layout {
  .form-control {
    padding: 8px 10px;

  }
  .input-group, .form-group {
    margin-bottom:1em;
  }

  .input-group-append {
    .btn {
      font-size: 24px;
      padding: 8px 10px;
    }
  }
  .btn {
    font-size: 24px;
    line-height: 24px;
    padding: 8px 10px;
  }
}
