.admin-item {
    border:2px solid #CCC;
    height:320px;
    overflow: hidden;
    margin-bottom:2em;
    justify-content: center;
    position: relative;
    .item-image {
        overflow: hidden;
        height:200px;
        display: flex;
        position: relative;
        justify-content: center;
        margin:10px;
        img {
            justify-self: center;
            z-index: 1;
            position: absolute;
            align-self: center;
            object-fit: contain;
            max-width: 100%;
            max-height:100%;
        }
    }
    .title {
        padding:5px;
        height:50px;
        margin-top:10px;
        small {
            display: block;
        }
    }
    a {
        color: #dedede;
    }

    .controls {
        width:100%;
        position: absolute;
        top:0;
        left:0;
        right:0;
        height:0;
        overflow: hidden;
        background-color: rgba(0,0,0,0.8);
        transition: all 0.4s ease-in-out;
        color: #CCC;
        z-index: 2;
    }
    &:hover {
        border:2px solid #333;
        cursor: pointer;
        .controls {
            height:auto;
            padding:10px;
            i {
                font-size: 1.3em;
                &:hover {
                    color: #FFF;
                }
            }
        }
    }
}

.galleryImage {
    border:1px solid #CCC;
    padding:10px;
    margin-bottom:15px;
    position: relative;
    &:hover {
        border:1px solid #333;
        .controls {
            width:100%;
            display: block;
            top:0;
            left:0;
            height:auto;
            background-color: rgba(0,0,0,0.6);
            a,button {
                color: #FFF;
                font-size: 22px;
                padding:8px;
                &:hover {
                    color: #CCC;
                    cursor: pointer;
                }
            }
        }
    }
    .controls {
        position: absolute;
        display: none;
        overflow: hidden;
    }
    .image {
        height:180px;
        width:100%;
        display:flex;
        overflow: hidden;
        justify-content: center;
        align-content: center;
        img {
            max-width:100%;
            max-height:100%;
            object-fit:contain;
        }
    }
}
